@import "tailwindcss";

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background: linear-gradient(to right,#ddb4f6,#8dd0fc);
}

.logo {
    transition: text-shadow 0.3s ease;
    cursor:pointer;
}
.logo:hover{text-shadow: 0 0 10px rgba(145, 116, 251, 0.867);}
.logo:active{background-color: none;color: white;}

.logo a {
    color: transparent;
    background: linear-gradient(to right,#8364e8,#d397fa);
    background-clip: text;
}

.background1{
    height: 90vh;
    background:url('Picture/background1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding: 0 70px;
}
.content1{
    background-color: rgba(255, 255, 255, 0.577);
    padding: 40px;
    border-radius: 15px;
    max-width: 480px;
    width: clamp(400px,50vw,800px);
}

.content1 h2{
    font-size: 36px;
    margin-bottom: 15px;
    color: #E5989B;
}
.content1 p{
    margin-bottom: 20px;
    line-height: 1.6;
}
section a{
    text-decoration: none;
}
          
.content2 p{
    color: crimson;
    text-align: center;
}



footer{
    background: linear-gradient(to right, #f292ed, #f36364);
    color: aliceblue;
    padding: 10px;
    text-align: center;
}