@import "tailwindcss";

@media (max-width: 640px) {

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .background1 {
        justify-content: center;
        padding-left: 16px;
        padding-right: 16px;
    }

    footer{
    padding: 15px;
    font-size: 14px;
    }  
}

#Slider {
    overflow-x: auto;
    scrollbar-width: none;       
    -ms-overflow-style: none;     
}

#Slider::-webkit-scrollbar {
    display: none;               
}

body {
    overflow-x: hidden;
    width: 100%;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, Helvetica, sans-serif;
}

.content1{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 25px;
    border-radius: 15px;
    max-width: 480px;
    width: 100%;
    animation: fadeUp 0.8s ease;
}

.content1 h2{
    font-size: clamp(24px, 4vw, 36px);
    margin-bottom: 15px;
    color: #E5989B;
}
.content1 p{
    font-size: clamp(14px, 2.5vw, 16px);
    margin-bottom: 20px;
    line-height: 1.6;
}
section a{
    text-decoration: none;
}
          
.content2 p{
    color: crimson;
    text-align: center;
}



footer{
    background: linear-gradient(to right, #f292ed, #f36364);
    color: aliceblue;
    padding: 10px;
    text-align: center;
}